---
import type { Project } from "@/types";
import { getRelativeLocaleUrl } from "astro:i18n";
import i18n from "i18next";

interface Props {
  project: Project;
}

const { project } = Astro.props;
---

<li
  class="hover:glow-shift group relative flex cursor-pointer select-none flex-col gap-4 rounded-xl ring-1 ring-white/25"
>
  <a
    href={getRelativeLocaleUrl(i18n.language, `/projects/${project.slug}`)}
    class="relative overflow-hidden rounded-xl"
  >
    <img
      alt={`Mockup de ${project.name}`}
      src={`/assets/images/projects/${project.image}`}
      class="aspect-video transform-gpu transition-transform duration-500 group-hover:scale-105 group-hover:saturate-150"
      transition:name={`project-image-${project.slug}`}
      loading="lazy"
      decoding="async"
    />
    <div
      class="absolute inset-0 flex translate-y-full transform-gpu bg-gradient-to-t from-black/75 via-black/50 to-transparent backdrop-blur-sm transition-transform duration-300 group-hover:translate-y-0"
    >
      <span class="self-end p-4">
        <div class="mb-2">
          <h3 class="text-lg font-bold capitalize text-white">
            {project.name}
          </h3>
          <p class="truncate text-pretty text-white/75">
            {project.description}
          </p>
        </div>
        <ul class="flex flex-wrap gap-2">
          {
            project.tags.map((tag: string) => (
              <li class="rounded-lg bg-dark px-2 text-xs text-white">{tag}</li>
            ))
          }
        </ul>
      </span>
    </div>
  </a>
</li>
