---
import "@/base.css";
import "@fontsource-variable/montserrat";
import { ViewTransitions } from "astro:transitions";

interface Props {
  title: string;
  description: string;
  tags: string;
}

const { title, description, tags } = Astro.props;
---

<!doctype html>
<html lang={Astro.currentLocale}>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <!-- HTML Meta Tags -->
    <title>{title}</title>
    <meta name="description" content={description} />
    <meta name="keywords" content={tags} />
    <meta name="author" content="Juan Pablo Machado" />
    <meta name="copyright" content="Juan Pablo Machado" />

    <!-- Open Graph Meta Tags -->
    <meta property="og:url" content="https://juanmachado.netlify.app/" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content={title} />
    <meta property="og:description" content={description} />
    <meta
      property="og:image"
      content="https://juanmachado.netlify.app/thumbnail.webp"
    />
    <!-- Twitter data -->
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:domain" content="juanmachado.netlify.app" />
    <meta name="twitter:url" content="https://juanmachado.netlify.app/" />
    <meta name="twitter:title" content={title} />
    <meta name="twitter:description" content={description} />
    <meta
      name="twitter:image"
      content="https://juanmachado.netlify.app/thumbnail.webp"
    />
    <!-- Other -->
    <meta name="generator" content={Astro.generator} />
    <link rel="sitemap" href="/sitemap-index.xml" />
    <link rel="icon" type="image/svg+xml" href="/favicon.ico" />
    <ViewTransitions fallback="swap" />
  </head>
  <body>
    <slot />
  </body>
</html>
<style is:global>
  @tailwind base;
  @tailwind components;
  @tailwind utilities;

  :root {
    --color-primary: rgb(0, 162, 255);
    --color-secondary: rgb(242, 33, 88);
    --color-light: #dee3e6;
    --color-dark: #1f2235;

    --color-primary-transparent: rgba(0, 162, 255, 0.1);
    --color-secondary-transparent: rgba(242, 33, 88, 0.1);
    --color-tertiary-transparent: rgb(122, 16, 255, 0.1);
  }

  html {
    background: #181920;
    font-family: "Montserrat Variable", sans-serif;
    min-height: 100vh;
    scrollbar-gutter: stable;
  }

  * {
    scrollbar-width: thin;
    scrollbar-color: white transparent;
  }

  /* Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 8px;
  }

  *::-webkit-scrollbar-track {
    background: transparent;
  }

  *::-webkit-scrollbar-thumb {
    background-color: white;
    border-radius: 2em;
    border: 0;
  }

  b {
    color: white;
    font-weight: 600;
  }

  .radial-gradient {
    position: relative;
    overflow: hidden;
  }

  .radial-gradient::before,
  .radial-gradient::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
  }

  @layer utilities {
    .text-gradient {
      display: inline-block;
      background-clip: text;
      -webkit-background-clip: text;
      color: transparent;
    }
    .glow-shift {
      @apply ring-white/50;
      position: relative;
      border-color: rgba(255, 255, 255, 0.5);
      transition: border-color 0.3s;
      z-index: 11;
    }

    .glow-shift::before {
      animation: glow-shift 8s linear infinite;
      background-color: rgba(255, 255, 255, 0.75);
      color: rgba(255, 255, 255, 0.5);
      border-radius: 100%;
      box-shadow:
        0 0 10px 1px,
        0 0 20px 4px,
        0 0 30px 6px;
      content: "";
      inset: 0;
      position: absolute;
      height: 4px;
      width: 4px;
      z-index: 10;
    }
  }

  @keyframes fadeAndShrink {
    0% {
      opacity: 1;
      scale: 1;
    }
    100% {
      opacity: 0.15;
      scale: 0.5;
    }
  }
  @keyframes fadeAndGrow {
    0% {
      opacity: 0.15;
      scale: 0.5;
    }
    100% {
      scale: 1;
      opacity: 1;
    }
  }

  @keyframes glow-shift {
    0%,
    100% {
      top: -4px;
      left: -4px;
    }
    25% {
      top: 100%;
      left: -4px;
    }
    50% {
      top: 100%;
      left: 100%;
    }
    75% {
      top: -4px;
      left: 100%;
    }
  }
</style>
